<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table th:fragment="table" class="centeredTable">
            <th:block th:each="column : ${jobs}">
        <tr>
                <td>
                    <p th:text = "'ID: ' + ${column.id}"></p>
                    <p th:text = "'Name: ' + ${column.name}"></p>
                    <p th:text = "'Employer: ' + ${column.employer}"></p>
                    <p th:text = "'Location: ' + ${column.location}"></p>
                    <p th:text = "'Position: ' + ${column.positionType}"></p>
                    <p th:text = "'Skill: ' + ${column.coreCompetency}"></p>
                </td>
        </tr>
            </th:block>

    </table>
</div>

</body>
</html>